<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% products.forEach(product => { %>
    <div>
        <h2><%= product.name %></h2>
        <div><%= product.price %></div>
        <div><%= product.desc %></div>
        <a href="/wishlist/<%=product._id %>">Add to wishlist</a>
    </div>
    <% }) %>

    <% if(products.length >= 1) { %>
    <div class="pagination">
        <% if(currentPage !==1 && prevPage !==1) { %>
        <a href="/products/?page=1">1</a>
        <% } %>
        <% if(hasNextPage){ %>
        <a href="/products/?page=<%=nextPage%>"><%= nextPage %></a>
        <% } %>
        <% if(hasPrevPage){ %>
        <a href="/products/?page=<%=prevPage%>"><%= prevPage %></a>
        <% } %>
        <!-- <% if(currentPage){ %> -->
        <!-- <a href="/products/?page=<%=currentPage%>"><%= currentPage %></a> -->
        <!-- <% } %> -->
        <% if(lastPage !==currentPage && nextPage !==lastPage){ %>
        <a href="/products/?page=<%=lastPage%>"><%= lastPage %></a>
        <% } %>
    </div>
    <% } %>
</body>

</html>