<%- include ("headers.ejs") %>

<body>
    <% products.forEach(product => { %>
    <div>
        <h2><%= product.name %></h2>
        <div><%= product.price %></div>
        <div><%= product.desc %></div>
        <a href="/wishlist/<%=product._id %>">Add to wishlist</a>
    </div>
    <% }) %>

    <div>
        <% let counter = 1 %>
        <% for(let i = productsPerPage; i < productAmount; i += productsPerPage) { %>
        <a href="/products/?page=<%counter%>"><%= counter%></a>
        <% counter++; %>
        <% } %>
    </div>
</body>

</html>